$font-primary: "Exo 2";
$font-icons: "Icons";

$breakpoint-laptop: 1500px;
$breakpoint-small-desktop: 1220px;
$breakpoint-mobile-menu: 1130px;
$breakpoint-retreat-elements-slider: 1060px;
$breakpoint-apply-section: 970px;
$breakpoint-large-tablet: 940px;
$breakpoint-tablet: 768px;
$breakpoint-small-tablet: 615px;
$breakpoint-mobile: 410px;

$transition-base: 0.4s;
$transition-open-mobile-menu: 0.7s;
$transition-image-scale: 1.5s;
$transition-palm: 4s;
$transition-boat: 2.5s;
$transition-background-appears: 3s;
